@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');



@media only screen and (orientation : landscape) {
    body {
        --tile-width: 10vh;
    }
}

@media only screen and (orientation : portrait) {
    body {
        --tile-width: 15vw;
    }
}

body {
    --black: #242729;
    --orange: #f48024;
    --green: #5eba7d;
    --yellow: #fbf2d4;
    --red: #d1383d;
    --white: #ece5da;
    --blue: #0095ff;
    --blue-dark: #0077cc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 0.5px);
    width: calc(100vw - 0.5px);
    margin: 0;
    padding: 0;
    /*background-color: var(--yellow);*/
    box-shadow: inset 0 0 var(--tile-width) calc(var(--tile-width) / 3) rgba(3, 6, 23, 0.1);
}

a {
    color: #6a737d;
    text-decoration: none;
}
a:hover, a:focus {
    color: #24292e;
}

.hidden {
    opacity: 0;
}

.game-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 0.5px);
    margin: 0;
    padding: 0;
    /*scale: 0.75;*/
    perspective: 1000px;
    /*perspective-origin: center 5vw;*/
}

.game-metrics {
    display: flex;
    justify-content: space-between;
    font-family: "JetBrains Mono", monospace;
    width: calc(var(--tile-width) * 4);
    color: #373737;
}

.game-screen__buttons {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: var(--tile-width);
}

button {
    background: linear-gradient(to right, var(--red), var(--orange));
    color: var(--yellow);

    font-family: "Baloo Chettan 2", sans-serif;
    font-weight: bold;
    font-size: calc(var(--tile-width) * 0.25);
    width: calc(var(--tile-width) * 3);
    border: 0;
    border-radius: 4px;
    padding: calc(var(--tile-width) * 0.1) calc(var(--tile-width) * 0.2);
    margin: 0 0 calc(var(--tile-width) * 0.2) 0;
    transition: box-shadow 100ms, color 250ms, transform 100ms, scale 100ms;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: 3px 3px 0 #373737;

    text-shadow: 1px 1px 0 #373737;

    cursor: pointer;
}

button:focus {
    outline: 0;
}

button:active {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 0 #373737;
}
/*
button:hover {
    transform: translate(-2px, 0);
}
*/
button:active, button:hover {
    color: #fff;
}


canvas {
    /*display: block;
    position: absolute;

    height: calc(100vh - 0.5px);
    width: calc(100vw - 0.5px);

    z-index: 10000;
    transform-style: preserve-3d;
    transform: translateZ(var(--tile-width));*/
    pointer-events: none;
}

.countdown {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    height: calc(100% - 0.5px);
    width: calc(100% - 0.5px);
    /*background-color: rgba(255, 255, 255, 0.5);*/
    overflow: hidden;
    /*background: linear-gradient(#fff, transparent);*/

    /*backdrop-filter: blur(2px);*/
    /*backdrop-filter: grayscale(100%) blur(3px);*/
    transform-style: preserve-3d;
    transform: translateZ(10vw);
    /*z-index: 1000;*/

    animation: shutdown 4s 1 forwards;
}

.countdown__digit {
    position: absolute;


    font-size: calc(var(--tile-width) * 4);
    margin: 0;
    padding: 0 0 calc(var(--tile-width) * 0.75) 0;
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 600;
    background: #00467F;
    /*background: linear-gradient(to right, #ff9, #c9c);*/

    background: linear-gradient(to right, var(--red), #c9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    filter: drop-shadow(4px 4px 0 var(--black));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transform-style: preserve-3d;
    transform: scale(0);

    opacity: 0;
    /*filter: blur(0);*/

    animation: flyout 1s 1 ease-in;
}

.digit__delay-1 {
    animation-delay: 2s;
}

.digit__delay-2 {
    animation-delay: 1s;
}

.digit__delay-3 {
    animation-delay: 0s;
}

.digit__delay-4 {
    animation-delay: 3s;
}


@keyframes shutdown {
    to {
        visibility: hidden;
    }
}

@keyframes flyout {
    0% {
        transform: scale(0.5);
        opacity: 0;
        /*filter: blur(0);*/
    }
    50% {
        transform: scale(1);
        opacity: 1;
        /*filter: blur(0);*/
    }
    100% {
        transform: scale(1);
        opacity: 1;
        /*filter: blur(0);*/
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 600;
    background: #00467F;
    background: linear-gradient(to right, var(--blue), #A5CC82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    filter: drop-shadow(2px 2px 0 #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: calc(var(--tile-width) * 1.5);
}

h3 {
    font-size: calc(var(--tile-width) * 0.9);
}

.main-menu-screen {

    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 0.5px);
    width: calc(100vw - 0.5px);
    /*background: linear-gradient(to top, rgba(251,242,212, 1), rgba(251,242,212, 0.9));*/
    /*background: linear-gradient(to right, #ff9, #c9c);*/

    /*background: radial-gradient(ellipse at bottom, rgba(80, 145, 221, 0.75) 0%, rgba(3, 6, 23, 1.0) 100%);
    box-shadow: inset 0 0 var(--tile-width) calc(var(--tile-width) / 3) rgba(3, 6, 23, 0.5);*/


    overflow: hidden;

    padding: 0;
    margin: 0;

    font-family: "Exo 2", sans-serif;

    /*background: linear-gradient(#fff, transparent);*/

    /*backdrop-filter: sepia(90%);*/
    /*backdrop-filter: blur(2px);*/
    /*backdrop-filter: grayscale(100%) blur(3px);*/
    /*transform-style: preserve-3d;
    transform: translateZ(10vw);*/
}

.tiles-container {
    display: inline-block;
    width: calc(var(--tile-width) * 4);
    height: calc(var(--tile-width) * 4);
    /*border: 2px dotted silver;*/
    background-color: #171717;
    border-radius: 2px;
    transform-style: preserve-3d;
    /*animation: rotate 10s infinite linear;*/
    transform: rotateX(20deg);
    /*transform: matrix3d(
            1, 0, 0, 0,
            0, 1, 0.4, 0,
            0, -0.4, 1, 0,
            0, 0, 0, 1
    );*/
    cursor: grab;
}

.start-position {
    transform: rotateX(35deg) rotateY(-15deg) rotateZ(30deg);
    animation: to-start 60s 1 linear;
}

.end-position {
    animation: to-end 4s 1 linear;
}

@keyframes to-start {
    0%   {transform: rotateX(15deg) rotateY(0) rotateZ(0);}
    100% {transform: rotateX(35deg) rotateY(-15deg) rotateZ(30deg);}
}
@keyframes to-end {
    0%   {transform: rotateX(35deg) rotateY(-15deg) rotateZ(30deg);}
    100% {transform: rotateX(15deg) rotateY(0deg) rotateZ(0deg);}
}
@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}


.grabbing-cursor {
    cursor: grabbing;
}

.pointer-cursor {
    cursor: pointer;
}

.cube {
    transform-style: preserve-3d;
    transition: background-color 100ms, transform 100ms;
}

.tile {
    width: var(--tile-width);
    height: var(--tile-width);
    position: absolute;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #171717;
    /*opacity: .7;*/

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "JetBrains Mono", monospace;
    font-size: calc(var(--tile-width) / 2.5);
}

/*

.left {
    transform: translateX(calc(var(--tile-width) / -2)) translateZ(calc(var(--tile-width) / 2)) rotateY(90deg);
    background: linear-gradient(to right,gold, #252525);
}

.right {
    transform: translateX(calc(var(--tile-width) / 2)) translateZ(calc(var(--tile-width) / 2)) rotateY(90deg);
    background: linear-gradient(to right,gold, #252525);
}
.top {
    transform: translateY(calc(var(--tile-width) / -2)) translateZ(calc(var(--tile-width) / 2)) rotateX(90deg);
    background: linear-gradient(to top,gold, #252525);
}

.bottom {
    transform: translateY(calc(var(--tile-width) / 2)) translateZ(calc(var(--tile-width) / 2)) rotateX(90deg);
    background: linear-gradient(to top,gold, #252525);
}

.front {
    transform: translateZ(var(--tile-width));
    background: gold;
}

 */


.left {
    width: calc(var(--tile-width) / 4);
    transform: translateX(calc(var(--tile-width) * -0.125)) translateZ(calc(var(--tile-width) * 0.125)) rotateY(90deg);
    background-color: goldenrod;
}

.right {
    width: calc(var(--tile-width) / 4);
    transform: translateX(calc(var(--tile-width) * 0.875)) translateZ(calc(var(--tile-width) * 0.125)) rotateY(90deg);
    background-color: goldenrod;
}

.top {
    height: calc(var(--tile-width) / 4);
    transform: translateY(calc(var(--tile-width) * -0.125)) translateZ(calc(var(--tile-width) * 0.125)) rotateX(90deg);
    background-color: gold;
}

.bottom {
    height: calc(var(--tile-width) / 4);
    transform: translateY(calc(var(--tile-width) * 0.875)) translateZ(calc(var(--tile-width) * 0.125)) rotateX(90deg);
    background-color: darkgoldenrod;
}

.front {
    transform: translateZ(calc(var(--tile-width) / 4));
    background: gold;
}



.cube {transform: translateX(5vw)}

.cube-1  {transform: translateX(0) translateY(0);}
.cube-2  {transform: translateX(calc(var(--tile-width))) translateY(0);}
.cube-3  {transform: translateX(calc(var(--tile-width) * 2)) translateY(0);}
.cube-4  {transform: translateX(calc(var(--tile-width) * 3)) translateY(0);}
.cube-5  {transform: translateX(0)  translateY(calc(var(--tile-width)));}
.cube-6  {transform: translateX(calc(var(--tile-width)))  translateY(calc(var(--tile-width)));}
.cube-7  {transform: translateX(calc(var(--tile-width) * 2)) translateY(calc(var(--tile-width)));}
.cube-8  {transform: translateX(calc(var(--tile-width) * 3)) translateY(calc(var(--tile-width)));}
.cube-9  {transform: translateX(0)  translateY(calc(var(--tile-width) * 2));}
.cube-10 {transform: translateX(calc(var(--tile-width)))  translateY(calc(var(--tile-width) * 2));}
.cube-11 {transform: translateX(calc(var(--tile-width) * 2)) translateY(calc(var(--tile-width) * 2));}
.cube-12 {transform: translateX(calc(var(--tile-width) * 3)) translateY(calc(var(--tile-width) * 2));}
.cube-13 {transform: translateX(0)  translateY(calc(var(--tile-width) * 3));}
.cube-14 {transform: translateX(calc(var(--tile-width))) translateY(calc(var(--tile-width) * 3));}
.cube-15 {transform: translateX(calc(var(--tile-width) * 2)) translateY(calc(var(--tile-width) * 3));}


/* Shake animation */

.shake-effect {
    animation: shake-effect 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0) rotateX(10deg);
    backface-visibility: hidden;
    /*perspective: 1000px;*/
}

@keyframes shake-effect {
    10%, 90% {
        transform: translate3d(-1vw, 0, 0) rotateX(10deg);
    }
    20%, 80% {
        transform: translate3d(2vw, 0, 0) rotateX(-40deg);
    }
    30%, 50%, 70% {
        transform: translate3d(-4vw, 0, 0) rotateX(40deg);
    }
    40%, 60% {
        transform: translate3d(4vw, 0, 0) rotateX(10deg);
    }
}

.x-close {
    display: none;
    position: absolute;
    top: calc(var(--tile-width) / 3);
    left: calc(var(--tile-width) / 2);
}
/*
.x-close-svg {
    width: calc(var(--tile-width));
    height: calc(var(--tile-width));
}

.x-close-svg:hover, .x-close-svg:focus {
    cursor: pointer;
}

.x-close-svg:hover > .x-mark-2 {
    stroke: blueviolet;
}

.x-close-svg:hover > .x-mark-1 {
    fill: #eee;
}

.x-mark-2 {
    fill: none;
    stroke: #888;
    stroke-width: 32;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.x-mark-1 {
    fill: none;
    stroke: #000;
    stroke-width: 0;
}
*/