@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');



@media only screen and (orientation : landscape) {
    body {
        --tile-width: 10vh;
    }
}

@media only screen and (orientation : portrait) {
    body {
        --tile-width: 15vw;
    }
}

body {
    --orange: #f48024;
    --green: #5eba7d;
    --yellow: #fbf2d4;
    --red: #d1383d;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 0.5px);
    margin: 0;
    padding: 0;
    perspective: 1000px;
    /*perspective-origin: center 5vw;*/
}

/*
canvas {
    display: block;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}
*/
.countdown {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    height: calc(100% - 0.5px);
    width: calc(100% - 0.5px);
    /*background-color: rgba(255, 255, 255, 0.5);*/
    overflow: hidden;
    /*background: linear-gradient(#fff, transparent);*/

    /*backdrop-filter: blur(2px);*/
    /*backdrop-filter: grayscale(100%) blur(3px);*/
    transform-style: preserve-3d;
    transform: translateZ(10vw);
    /*z-index: 1000;*/

    animation: shutdown 4s 1 forwards;
}

.countdown__digit {
    position: absolute;
    font-family: 'Exo 2', sans-serif;
    font-size: 10vw;
    font-weight: bold;


    /*text-shadow: -3px 0 rgb(30,242,241) , 3px 0 rgb(246,5,10);*/
    /*text-shadow: -3px 0 black, 0 9px black, 9px 0 black, 0 -3px black;*/
    text-shadow: 2px 2px 4px black, 0 0 1em white, 0 0 0.1em white;
    color: var(--red);
    /*color: #5eba7d;*/

    transform-style: preserve-3d;
    transform: scale(0);

    opacity: 0;
    filter: blur(0);

    animation: flyout 1s 1 ease-in;
}

.digit__delay-1 {
    animation-delay: 2s;
}

.digit__delay-2 {
    animation-delay: 1s;
}

.digit__delay-3 {
    animation-delay: 0s;
}

.digit__delay-4 {
    animation-delay: 3s;
}


@keyframes shutdown {
    to {
        visibility: hidden;
    }
}

@keyframes flyout {
    0% {
        transform: scale(0.2);
        opacity: 0;
        filter: blur(0);
    }
    50% {
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

.menu {
    margin-bottom: calc(var(--tile-width) / 2.5);;
}

.tiles-container {
    display: inline-block;
    width: calc(var(--tile-width) * 4);
    height: calc(var(--tile-width) * 4);
    /*border: 2px dotted silver;*/
    background-color: #171717;
    transform-style: preserve-3d;
    transform: rotateX(10deg);
    /*animation: rotate 20s infinite linear;*/
}

.cube {
    cursor: pointer;
    transform-style: preserve-3d;
    transition: background-color 100ms, transform 100ms;
}
/*
        @keyframes rotate {
            100% {
                transform: rotateY(360deg);
            }
        }
*/
.tile {
    width: var(--tile-width);
    height: var(--tile-width);
    position: absolute;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #171717;
    /*opacity: .7;*/

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "JetBrains Mono", monospace;
    font-size: calc(var(--tile-width) / 2.5);
}

.left {
    transform: translateX(calc(var(--tile-width) / -2)) translateZ(calc(var(--tile-width) / 2)) rotateY(90deg);
    background: linear-gradient(to right,gold, #252525);
}

.right {
    transform: translateX(calc(var(--tile-width) / 2)) translateZ(calc(var(--tile-width) / 2)) rotateY(90deg);
    background: linear-gradient(to right,gold, #252525);
}
.top {
    transform: translateY(calc(var(--tile-width) / -2)) translateZ(calc(var(--tile-width) / 2)) rotateX(90deg);
    background: linear-gradient(to top,gold, #252525);
}

.bottom {
    transform: translateY(calc(var(--tile-width) / 2)) translateZ(calc(var(--tile-width) / 2)) rotateX(90deg);
    background: linear-gradient(to top,gold, #252525);
}

.front {
    transform: translateZ(var(--tile-width));
    background: gold;
}

.cube {transform: translateX(5vw)}

.cube-1  {transform: translateX(0) translateY(0);}
.cube-2  {transform: translateX(calc(var(--tile-width))) translateY(0);}
.cube-3  {transform: translateX(calc(var(--tile-width) * 2)) translateY(0);}
.cube-4  {transform: translateX(calc(var(--tile-width) * 3)) translateY(0);}
.cube-5  {transform: translateX(0)  translateY(calc(var(--tile-width)));}
.cube-6  {transform: translateX(calc(var(--tile-width)))  translateY(calc(var(--tile-width)));}
.cube-7  {transform: translateX(calc(var(--tile-width) * 2)) translateY(calc(var(--tile-width)));}
.cube-8  {transform: translateX(calc(var(--tile-width) * 3)) translateY(calc(var(--tile-width)));}
.cube-9  {transform: translateX(0)  translateY(calc(var(--tile-width) * 2));}
.cube-10 {transform: translateX(calc(var(--tile-width)))  translateY(calc(var(--tile-width) * 2));}
.cube-11 {transform: translateX(calc(var(--tile-width) * 2)) translateY(calc(var(--tile-width) * 2));}
.cube-12 {transform: translateX(calc(var(--tile-width) * 3)) translateY(calc(var(--tile-width) * 2));}
.cube-13 {transform: translateX(0)  translateY(calc(var(--tile-width) * 3));}
.cube-14 {transform: translateX(calc(var(--tile-width))) translateY(calc(var(--tile-width) * 3));}
.cube-15 {transform: translateX(calc(var(--tile-width) * 2)) translateY(calc(var(--tile-width) * 3));}


/* Shake animation */

.shake-effect {
    animation: shake-effect 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0) rotateX(10deg);
    backface-visibility: hidden;
    /*perspective: 1000px;*/
}

@keyframes shake-effect {
    10%, 90% {
        transform: translate3d(-1vw, 0, 0) rotateX(10deg);
    }
    20%, 80% {
        transform: translate3d(2vw, 0, 0) rotateX(-40deg);
    }
    30%, 50%, 70% {
        transform: translate3d(-4vw, 0, 0) rotateX(40deg);
    }
    40%, 60% {
        transform: translate3d(4vw, 0, 0) rotateX(10deg);
    }
}